{{extend './_layouts/main.html'}}

{{block 'title'}}{{'blog-添加文章'}}{{/block}}
{{block 'head'}}
<script src="../node_modules/vue/dist/vue.js"></script>
<script src="../node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="../node_modules/@tinymce/tinymce-vue/lib/browser/tinymce-vue.min.js"></script>
{{/block}}

{{block 'main'}}
<div class="panel" id="app">

    <div class="panel-body form-inline">

        <label>
            title:
            <input type="text" class="form-control" v-model="title" required />
        </label>

    </div>
    <div>
        <tinymce-editor api-key="API_KEY" :init="{plugins: 'wordcount',height: '500px'}" v-model="content">
        </tinymce-editor>
    </div>
    <!-- <div style="margin-left: 20px" > -->
    <ul style="list-style: none">
        <li v-for="(item,i) in label" style="float: left; margin-left:25px">
            <input type="checkbox" name="label" :value="item.name" v-on:click="alert(i)">
            <span v-text="item.name"></span>
        </li>
    </ul>



    <!-- </div> -->
    <br>
    <input type="button" class="btn btn-primary" value="添加" v-on:click="add()" />
</div>

{{/block}}
{{block 'script'}}
<script>
    var app = new Vue({
        el: '#app',
        data: {
            title: '',
            content: '',
            label: [
                { name: 'javascript', flag: false },
                { name: 'Vue', flag: false },
                { name: 'Webpack', flag: false },
                { name: 'css', flag: false },
                { name: 'HTML', flag: false },
                { name: 'Node', flag: false },
            ]
        },
        components: {
            'tinymce-editor': Editor // <- Important part
        },
        methods: {
            add() {
                let tag = [];
                this.label.forEach(element => {
                    if (element.flag) {
                        tag.push(element.name);
                    }
                });
                this.$http.post('http://127.0.0.1:3000/adddata', {
                    title: this.title,
                    content: this.content,
                    tag: tag
                }, {
                        crossOrigin: true,
                        OK: true
                    }).then(response => {
                        if (response.body.err_code === 0) {
                            this.title = this.content = '';
                            window.location.href = "/home/show";
                        } else {
                            alert(response.body.message);
                        }
                    })
            },
            alert(i) {
                this.label[i].flag = !this.label[i].flag;
            }

        }
    })
</script>
{{/block}}